<div class="flex w-full bg-card dark:bg-transparent">
    <!--  list -->
    <ng-container>
        <div class="flex flex-auto flex-col h-full border-r z-10" [ngClass]=" !isSelect ? 'w-full' : 'w-2/5' ">

            <!-- Header -->
            <div class="flex flex-0 items-center justify-between h-16 px-4 border-b bg-gray-50 dark:bg-transparent">
                <div class="flex items-center w-full">

                    <div class="ml-2 font-semibold uppercase whitespace-nowrap truncate">Danh sách chủ nhiệm, đồng chủ
                        nhiệm, chuyên gia</div>

                    <span style="flex: 1 1 auto;"></span>
                    <button mat-icon-button (click)="addNewNguoiThucHien()">
                        <mat-icon [svgIcon]="'mat_outline:add'"></mat-icon>
                    </button>
                </div>

            </div>

            <div class="h-full">
                <div class="flex justify-between items-center h-40">
                    <div class="flex flex-col flex-auto">
                        <form [formGroup]="filterForm">

                            <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                                <div class="flex flex-col flex-auto">
                                    <mat-form-field class="change-margin-matInput">
                                        <mat-select mat-option [formControlName]="'LVucNcuu'" multiple>
                                            <mat-option [value]="'all'" (click)="clearLVucNcuu()">--Lĩnh vực nghiêm
                                                cứu--
                                            </mat-option>
                                            <mat-option *ngFor="let x of listLvucNcuu;"
                                                [value]="x.MA_LVUC_NCUU">{{x.TEN_LVUC_NCUU}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-col flex-auto">
                                    <mat-form-field class="change-margin-matInput">
                                        <mat-select mat-option [formControlName]="'isNgoaiEVN'">
                                            <mat-option [value]="'all'">--Trong/ngoài EVN--</mat-option>
                                            <mat-option [value]="'0'">Trong EVN</mat-option>
                                            <mat-option [value]="'1'">Ngoài EVN</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="grid grid-cols-2 grid-flow-row gap-2 w-full">
                                <div class="flex flex-col flex-auto">
                                    <mat-form-field class="change-margin-matInput">
                                        <input matInput [formControlName]="'name'" placeholder="Tìm kiếm">
                                    </mat-form-field>
                                </div>

                                <div class="flex flex-col flex-auto  justify-center">
                                    <mat-checkbox class="m-[0.5rem]" [formControlName]="'chuyen_gia'"> Tìm kiếm chuyên
                                        gia
                                    </mat-checkbox>
                                </div>


                            </div>

                        </form>
                    </div>


                </div>
                <div class="pl-2 w-full overflow-y-auto" style="height: 82%">
                    <table mat-table [dataSource]="dataSource" class="w-full">
                        <ng-container matColumnDef="STT">
                            <th mat-header-cell *matHeaderCellDef> STT</th>
                            <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
                        </ng-container>

                        <ng-container matColumnDef="TEN_NGUOI_THUC_HIEN">
                            <th mat-header-cell *matHeaderCellDef>Họ và tên</th>
                            <td mat-cell *matCellDef="let element">{{element.TEN_NGUOI_THUC_HIEN}}</td>
                        </ng-container>

                        <ng-container *ngIf="!isSelect" matColumnDef="TEN_HOC_HAM">
                            <th mat-header-cell *matHeaderCellDef>Học hàm</th>
                            <td mat-cell *matCellDef="let element">{{element.TEN_HOC_HAM}}</td>
                        </ng-container>

                        <ng-container matColumnDef="TEN_HOC_VI">
                            <th mat-header-cell *matHeaderCellDef>Học vị</th>
                            <td mat-cell *matCellDef="let element">{{element.TEN_HOC_VI}}</td>
                        </ng-container>

                        <ng-container matColumnDef="TEN_LVUC_NCUU">
                            <th mat-header-cell *matHeaderCellDef>Lĩnh vực nghiên cứu</th>
                            <td mat-cell *matCellDef="let element"><span *ngFor="let item of element.LVUC_NCUU_LST; let i = index">
                                    {{ item.TEN_LVUC_NCUU }};
                            </span></td>
                        </ng-container>

                        <ng-container *ngIf="!isSelect" matColumnDef="EMAL">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element">{{element.EMAL}}</td>
                        </ng-container>

                        <ng-container *ngIf="!isSelect" matColumnDef="SDT">
                            <th mat-header-cell *matHeaderCellDef>SĐT</th>
                            <td mat-cell *matCellDef="let element">{{element.SDT}}</td>
                        </ng-container>

                        <ng-container *ngIf="!isSelect" matColumnDef="NOI_LAM_VIEC">
                            <th mat-header-cell *matHeaderCellDef>Nơi làm việc</th>
                            <td mat-cell *matCellDef="let element">{{element.NOI_LAM_VIEC}}</td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="(!isSelect ? displayedColumns : _displayedColumns); sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: (!isSelect ? displayedColumns : _displayedColumns);"
                            [routerLink]="row.MA_NGUOI_THUC_HIEN" routerLinkActive="bg-primary-50"
                            (click)="onObjectSelected(row)" [ngClass]="row.CHUYEN_GIA ? 'font-semibold' : '' "></tr>

                    </table>
                </div>
            </div>

        </div>

    </ng-container>
    <!--  details -->
    <ng-container *ngIf="isSelect" class="box-border">
        <div class="flex-auto flex w-3/5">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>
