h1{
    font-size: larger;
}


.mat-dialog-content{
    margin: unset;
    padding: unset;
    max-height: unset;
    overflow: unset;
}

.mat-dialog-actions {
    padding: unset;
}

.mat-dialog-title{
    margin: unset;
}

