<div class="relative eco_conntent">
    <div class="bg-white px-3 content-screen">
        <!--màn hình danh sách-->
        <ng-container *ngIf="!actionClick">
            <div class="flex items-center justify-between">
                <h1 class="title-component">TÌM KIẾM ĐỀ TÀI, NHIỆM VỤ, SÁNG KIẾN </h1>
            </div>

            <div class="flex flex-row row gap-4">
                <div class="basis-1/2 flex items-center gap-hd-khcn">
                    <label for="" class="text-bold whitespace-nowrap mr-3 hd-khcn-first-label">Hoạt động KHCN: </label>
                    <ng-select [items]="listHoatDongKHCN" bindLabel="name" bindValue="id" placeholder="Tất cả"
                        [(ngModel)]="hoatDongKhCN" ngClass="hd-khcn-first-input">
                    </ng-select>
                </div>

                <div class="basis-1/2 flex items-center">
                    <label for="" class="text-bold whitespace-nowrap mr-3 hd-khcn-first-label">Lĩnh vực nghiên cứu</label>
                    <ng-select [items]="listLinhVucNghienCuu" bindLabel="NAME" bindValue="ID" placeholder="Lựa chọn"
                        [(ngModel)]="linhVucNghienCuu" ngClass="hd-khcn-first-input" [multiple]="true">
                    </ng-select>
                </div>
            </div>

            <div class="flex flex-row row gap-4 mt-3">
                <div class="basis-1/2 flex items-center">
                    <label for="" class="text-bold whitespace-nowrap mr-3 hd-khcn-first-label">Cấp quản lý</label>
                    <ng-select [items]="listCapQuanLy" bindLabel="NAME" bindValue="ID" placeholder="Lựa chọn"
                        [(ngModel)]="capQuanLy" ngClass="hd-khcn-first-input">
                    </ng-select>
                </div>


                <div class="basis-1/2  flex items-center">
                    <label for="" class="text-bold whitespace-nowrap mr-3 hd-khcn-first-label">Năm đăng ký</label>
                    <ng-select [items]="listYears" bindLabel="NAME" bindValue="ID" placeholder="Lựa chọn"
                        [(ngModel)]="selectedYear" ngClass="hd-khcn-first-input">
                    </ng-select>
                </div>

            </div>


            <div class="flex flex-row row gap-4 mt-3">

                <label for="" class="text-bold whitespace-nowrap hd-khcn-second-label">Tên đề tài/ sáng kiến
                </label>
                <input class="form-control basis-11/12" name="" [(ngModel)]="tenDeTaiSK" id="" cols="30" rows="2"
                    style="padding: 10px;" ngClass="hd-khcn-first-input" />

            </div>

            <div class="flex flex-row row gap-4 mt-3">
                <label for="" class="text-bold whitespace-nowrap hd-khcn-second-label">Tên chủ nhiệm/ tác giả
                </label>
                <input class="form-control basis-11/12" placeholder="" name="" id="" [(ngModel)]="tenChuNhiemTG"
                    cols="30" rows="2" style="padding: 10px;" ngClass="hd-khcn-first-input" />

            </div>
            <div class="flex justify-end mt-3"> <button class="rounded-md text-white px-10 py-2 bg-blue-900 detai-search"
                    (click)="timKiem()"><i class="fa fa-search"></i> Tìm kiếm</button></div>
            <table class="table table_custom">
                <thead>
                    <tr>
                        <th class="stt_table">STT</th>
                        <th>Hoạt động KHCN</th>
                        <th class="text-center">Tên đề tài/ sáng kiến</th>
                        <th class="text-center">Cấp quản lý</th>
                        <th class="text-center">Chủ nhiệm/ Tác giả</th>
                        <th class="text-center">Đơn vị chủ trì/ Đơn vị chủ đầu tư</th>
                        <th class="text-center">Năm đăng ký</th>
                        <th class="text-center action-table"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listData; let i = index">
                        <td class="stt_table">{{ i+ 1}}</td>
                        <td>{{item.loaiDeTaiSK=='DETAI'?'Đề tài NCKH':'Sáng kiến'}}</td>
                        <td>{{item.tenDeTaiSK}}</td>
                        <td>{{item.capQuanLy}}</td>
                        <td>{{item.tenChuNhiemTG}}</td>
                        <td>{{item.donViChuTri}}</td>
                        <td class="text-center">{{item.nam}}</td>
                        <td class="text-center action-table">
                            <div class="flex justify-evenly">
                                <i (click)="detail(item)" class="fa fa-info-circle" title="Xem chi tiết"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- phan trang -->
            <mat-paginator *ngIf="listData && listData.length > 0" (page)="handlePageEvent($event)" [length]="length"
                [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex" aria-label="Select page">
            </mat-paginator>
            <!-- <button (click)="openAlertDialog()" >Mop pup up fille</button> -->
        </ng-container>

        <!-- details -->
        <ng-container *ngIf="actionClick">
            <div class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex">
                <router-outlet></router-outlet>
            </div>
        </ng-container>
    </div>
</div>
