@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~font-awesome/css/font-awesome.css";

* {
  box-sizing: border-box;
}

h1.title-component {
    font-size: 20px;
    margin: 15px 0px;
    font-weight: 500;
    text-transform: uppercase;
}

table.table.table_custom {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
}

table.table.table_custom {
    th {
        padding: 10px;
        // background-color: #D7D2D2;
        color: #2a3493;
    }

    td {
        padding: 5px 10px;
        color: #2a3493;
    }
}
tbody tr{
    border-top: 1px solid #ccc;
}
tbody tr:last-child{
    border-bottom: 1px solid #ccc;
}
.eco_conntent {
    width: 100%;
}

.ng-select.ng-select-single .ng-select-container,
.ng-select .ng-select-container {
    height: 30px;
    min-height: 30px;
}

.header-list-dinh-huong {
    display: flex;
}
.invalid-feedback {
    color: red;
}

.year-left,
.statust-right {
    display: flex;
    align-items: center;
    margin-right: 160px;

    label {
        margin-right: 10px;
        font-weight: 600;
    }

    ng-select {
        min-width: 200px;
    }
}

.stt_table {
    width: 40px;
    vertical-align: middle;
    text-align: center;
    font-weight: 600;
}

.action-table {
    width: 150px;

    i {
        padding: 5px;
        border: 1px solid #cfcfcf;
        border-radius: 3px;
        cursor: pointer;
        border-color: #ccc;
        margin-right: 5px;
    }

    i.fa-info-circle,
    i.fa-retweet {
        &:hover {
            border-color: #2A3493;
        }
    }

    i.fa-pencil {
        color: #56BEEA;

        &:hover {
            border-color: #56BEEA;
        }
    }

    i.fa-trash {
        color: red;

        &:hover {
            border-color: red;
        }
    }
}

button.add_button {
    background: #2A3493;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
}

button.add_button:hover {
    background-color: #505dd1;
}

.form-control {
    width: 100%;
    height: 30px;
    border: 1px solid rgb(203, 213, 225);
    border-radius: 6px;
}

input {
    padding-left: 10px;
}

label span {
    color: red;
    margin-left: 3px;
}
.kinhphi{
    margin: 10px 0;
}
.detail_tab1 .mat-tab-label {
    border: 1px solid #ccc;
    margin-left: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.detail_tab1  .mat-tab-label-active .mat-tab-label-content{
    color: #000;
}
mat-paginator .mat-paginator-container{
    width: 100%; display: flex;     justify-content: flex-end !important;
}
.cdk-dialog-container {
    padding: 0px !important;
}
.title_labe{
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-detail {
    // color: #000;
}
button.add_button-export {
    background: #02a7f0;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.add_button-import {
    background: #1e293b;
    color: #fff;
    height: 30px;
    padding: 6px 10px;
    border-radius: 5px;
    margin-left: 10px;
}
input[type="file"] {
    display: none;
}

.cursor-point{
    cursor: pointer !important;
}

.form-date {
    border: 1px solid #ccc;
    height: 29px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    overflow: hidden;padding: 5px;
}
.table_listfile tr{
   border-style: dotted;
}
.table_listfile tr:last-of-type{
    border-bottom: 0;
}
.table_listfile tr:first-of-type{
    border-top: 0;
}
.table_listfile tr td{
    padding: 2px !important;
}
.table_listfile tr td:last-of-type{
    padding-right: 0px !important;
    i:last-of-type{
        margin-right: 0px !important;
    }
}
.form-date input{
    width: 100%;
}
.tableFixHeadGrid          { overflow: auto; max-height: 1000px; }
.tableFixHeadGrid thead th { position: sticky; top: 0; z-index: 1;
    background: #fff; }
.tableFixHead          { overflow: auto; height: 500px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1;
    background: #fff; }

    .dinhhuong-name .titleTH {
        width: 70px !important;
    }

    .dinhhuong-name.dinhhuong {
        width: 55% !important;
    }
.text-bold{
    font-weight: bold;
}

.khongthaotac {
    pointer-events: none;
    opacity: 0.8;
}
.khongthaotac textarea, .khongthaotac input {
    pointer-events: all !important;
}
.nguonkinhphi .ng-select .ng-select-container{
    border: none !important;
   pointer-events: none !important;
}
.nguonkinhphi .ng-clear-wrapper , .nguonkinhphi .ng-arrow-wrapper{
    display: none !important;
}
.nguonkinhphi .ng-select span{
    color: #5860aa !important;
}
/*custom css*/
.header-custom{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-bottom: 1px solid rgb(226, 232, 240);
    --tw-bg-opacity: 1 !important;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity)) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-custom .action-all-f{
    margin: 0px;
}
.content-page-all{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    background-color: #fff;
    padding-top: 25px;
}
.title-component{
    text-transform: uppercase !important;
    font-weight: 600 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-left: 0.5rem !important;
    font-size: 12px  !important;
    color: rgb(42, 52, 147);
}
.table-fix-header{
    overflow-y: auto;
    margin-top: 30px;
}
.table-fix-header>table{
    margin-top: 0px !important;
}
  .table-fix-header thead tr {
    position: sticky;
    top: 0;
    border-bottom:1px solid rgb(226, 232, 240) !important;
    z-index: 99;
  }
  .table-fix-header thead{
    border:none;
    border-image: none;
    background-color: #fff;
  }
  .table-fix-header thead th{
    border-bottom:1px solid rgb(226, 232, 240) !important;
  }
  .icon-group-table{
    position: relative;
    display: inline-block;
  }
  .icon-group-table i{
    padding: 5px;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 0;
  }
  .icon-group-table div.flex{
    display: none !important;
  }
  .icon-group-table:hover div.flex{
    display: block !important;
    top: 14px;
    right: -228%;
    z-index: 99;
    position: absolute;
    width: 160px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .icon-group-table div.flex div{
    display: flex;
    cursor: pointer;
    border-bottom: 1px solid #e7e7e7;
    align-items: center;
    padding: 2px 0px;
  }
  .icon-group-table div.flex div:last-of-type{
    border-bottom: none;
  }
  .icon-group-table div.flex div i{
    width: 22px;
  }
  .icon-group-table div.flex div span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .is-invalid-border, .is-invalid-border .ng-select-container{
    border-color: red !important;
  }
  .header-popups {
    background-color: #fff !important;
    color: #2A3493 !important;
    font-weight: 600

  }
  .header-popups svg{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    display: flex;
    fill: #2A3493 !important;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
  }
  .header-popups svg:hover{
    background-color: #e4e3e3;
  }
  .select-cbkh{
    overflow: hidden;
  }
  input:focus,.select-cbkh:focus,.ng-select-container:focus,  textarea:focus{
    border-color: #2A3493 !important;
  }
  .select-cbkh:hover,ng-select:hover .ng-select-container{
    border-color: #2A3493 !important;
  }
  input{
    color: #2A3493;
  }
  ng-select span{
    color: #2A3493 !important;
  }
  .ng-select .ng-arrow-wrapper .ng-arrow {
    border-color: #2A3493 transparent transparent !important;
  }
  .select-cbkh .fa-search{
    background-color: transparent !important;
    font-size: 17px;
    color: #2A3493 !important;
  }
  .ng-dropdown-panel.ng-select-bottom {
    border-top-color: #2a3493;
  }
  .ng-dropdown-panel {
    border: 1px solid #2a3493;
  }
  .ng-select .ng-select-container{
    border-color: rgb(203, 213, 225);
}
.form-date{
    border-color: rgb(203, 213, 225); 
}

// end

@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .dinhhuong-name input.input-form{
        width: 340px;
    }
    .dinhhuong-name {
        width: 55% !important;
    }
    .dinhhuong-name, .dinhhuong-name.khongthaotac {
        width: 55% !important;
    }

  }

//   css firefox
@-moz-document url-prefix(){
    component-list{
        overflow: hidden !important;
    }
    .fa-search {
        position: absolute;
        top: 0px;
        right: 0px;
        background: #ccc;
        height: 100%;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        cursor: pointer;
    }
    button .fa.fa-search {
        display: contents !important;
        color: #fff;
    }
}

