<div class="relative eco_conntent">
    <!--màn hình danh sách-->
    <div class="content-screen">
        <ng-container *ngIf="!actionClick">
            <div class="flex items-center justify-between header-custom">
                <h1 class="title-component">XÉT DUYỆT/ TUYỂN CHỌN ĐỀ TÀI, NHIỆM VỤ </h1>
                <button class="add_button" (click)="addNew()">
                    <i class="fa fa-plus"></i> Tạo bản ghi mới
                </button>
            </div>
            <div class="content-page-all">
                <div class="header-list-dinh-huong">
                    <div class="serach-box">
                        <div class="flex flex-row row gap-4 items-center mb-3	">
                            <div class="basic-1/4">
                                <label for="">Cấp quản lý</label>
                            </div>
                            <div class="basis-1/2">
                                <ng-select style="width: 200px;" [items]="listCapQuanLy" bindLabel="NAME" bindValue="ID"
                                    placeholder="Tất cả" [(ngModel)]="capQuanLy">
                                </ng-select>
                            </div>
                            <div class="basic-1/4" style="margin-right: 13px;">
                                <label for="">Tìm kiếm</label>
                            </div>
                            <div class="basis-1/2">
                                <input style="width: 80%" type="text" class="form-control" [(ngModel)]="q"
                                    placeholder="Nhập từ khóa tìm kiếm: tên đề tài,nhiệm vụ, chủ nhiệm, đồng chủ nhiệm, thư ký" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="table-fix-header" style="height: calc(100vh - 255px)">
                    <table class="table table_custom">
                        <thead>
                            <tr>
                                <th class="stt_table">STT</th>
                                <th>Tên đề tài/ nhiệm vụ KHCN</th>
                                <th class="text-center">Cấp quản lý</th>
                                <th class="text-center">Chủ nhiệm đề tài</th>
                                <th class="text-center">Đơn vị chủ trì</th>
                                <th class="text-center">Thời gian thực hiện</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Năm đăng ký</th>
                                <th class="text-center action-table">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listGiao; let i = index">
                                <td class="stt_table">{{ (i+(pageIndex * pageSize))+ 1}}</td>
                                <td>{{item.tenDeTai}}</td>
                                <td>{{item.tenCapQuanLy}}</td>
                                <td class="text-center">{{item.chuNhiemDeTai}}</td>
                                <td>{{item.tenDonViChuTri}}</td>
                                <td class="text-center">{{item.thoiGianThucHienTu | date:'MM/yyyy' }} -
                                    {{item.thoiGianThucHienDen | date:'MM/yyyy' }}</td>
                                <td>{{item.tenTrangThai}}</td>
                                <td class="text-center">{{item.ngayTao | date:'yyyy' }}</td>
                                <td class="text-center action-table">
                                    <div class="icon-group-table">
                                        <i class="fa  fa-ellipsis-h"></i>
                                        <div class="flex">
                                            <div (click)="detail(item)"> <i (click)="detail(item)"
                                                    class="fa fa-info-circle" title="Xem chi tiết"></i><span>Xem chi
                                                    tiết</span>
                                            </div>
                                            <div (click)="lichsu(item)"> <i class="fa fa-clock-o"
                                                    title="Xem lịch sử"></i><span>Xem lịch sử</span>
                                            </div>
                                            <div (click)="editer(item)"> <i class="fa fa-pencil" class="fa fa-pencil"
                                                    title="Chỉnh sửa"></i><span>Chỉnh sửa</span>
                                            </div>
                                            <div (click)="updateActionRaSoat(item)"> <i
                                                    [class]="item.maTrangThai=='DA_GUI' || item.maTrangThai=='DA_PHE_DUYET' 
                                                || item.maTrangThai=='Y_CAU_HIEU_CHINH' || item.maTrangThai=='DA_TLHDXD'?'':'khongthaotac'"
                                                    title="Rà soát HSĐK" class=" fa fa-check-square-o"></i><span>Rà soát
                                                    HSĐK</span>
                                            </div>
                                            <div (click)="updateActionHD(item)"> <i
                                                    [class]="item.maTrangThai=='DA_PHE_DUYET' || item.maTrangThai=='DA_TLHDXD'?'':'khongthaotac'"
                                                    title="Cập nhập hội đồng XD/TC"
                                                    class="fa fa-caret-square-o-up"></i><span>Cập nhập hội đồng
                                                    XD/TC</span>
                                            </div>
                                            <div (click)="updateActionKQ(item)"> <i
                                                    [class]="item.maTrangThai=='DA_TLHDXD'?'':'khongthaotac'"
                                                    title="Cập nhập kết quả XD/TC"
                                                    class="fa fa-caret-square-o-up"></i><span>Cập nhập kết quả
                                                    XD/TC</span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- phan trang -->
            <mat-paginator (page)="handlePageEvent($event)" [length]="length" [pageSize]="pageSize"
                [showFirstLastButtons]="showFirstLastButtons" [pageSizeOptions]="pageSizeOptions"
                [pageIndex]="pageIndex" aria-label="Select page">
            </mat-paginator>
        </ng-container>
        <ng-container *ngIf="actionClick">
            <div class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex">
                <router-outlet></router-outlet>
            </div>
        </ng-container>
    </div>
</div>