<div class="flex w-full bg-card dark:bg-transparent">
    <ng-container *ngIf="!actionClick">
        <div class="flex flex-auto flex-col h-full border-r z-10">
            <div class="flex flex-0 items-center justify-between h-16 px-4 border-b bg-gray-50 dark:bg-transparent">
                <div class="flex items-center w-full">
                    <div class="ml-2 font-semibold uppercase whitespace-nowrap truncate">SÁNG KIẾN CỦA TÔI
                    </div>
                    <span style="flex: 1 1 auto;"></span>
                    <button class="add_button" (click)="addNew()">
                        <i class="fa fa-plus"></i> Đăng ký mới
                    </button>
                </div>
            </div>
       
        <div class="h-full">
            <div class="pl-2 w-full overflow-y-auto">
                <div class="tableFixHeadGrid">

                    <table class="table table_custom">
                        <thead>
                            <tr>
                                <th class="stt_table">STT</th>
                                <th class="text-left">Tên giải pháp</th>
                                <th class="text-left">Cấp độ sáng kiến</th>
                                <th class="text-left">Đơn vị thực hiện</th>
                                <th class="text-center">Năm</th>
                                <th class="text-left">Trạng thái</th>
                                <th class="action-table text-left">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listGiao; let i = index">
                                <td class="stt_table text-center">{{ (i+(pageIndex * pageSize)) + 1}}</td>
                                <td>{{item.tenGiaiPhap}}</td>
                                <td>{{item.tenCapDoSangKien}}</td>
                                <td>{{item.tenDonViChuDauTu}}</td>
                                <td class="text-center">{{item.nam}}</td>
                                <td>{{item.tenTrangThai}}</td>
                                <td class="action-table">
                                    <div class="flex justify-evenly" style="float: left;">
                                        <i class="fa fa-info-circle cursor-point" (click)="detail(item)"
                                            title="Xem chi tiết"></i>
                                        <i class="fa fa-clock-o cursor-point" (click)="lichsu(item)"
                                            title="Xem lịch sử"></i>
                                        <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' "
                                            class="fa fa-pencil cursor-point" (click)="editer(item)"
                                            title="Chỉnh sửa"></i>
                                        <i *ngIf="item.maTrangThai=='SOAN' || item.maTrangThai=='Y_CAU_HIEU_CHINH' "
                                            class="fa fa-trash cursor-point" (click)="xoa(item)" title="Xóa bỏ"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <mat-paginator *ngIf="listGiao && listGiao.length > 0" (page)="handlePageEvent($event)"
                    [length]="length" [pageSize]="pageSize" [showFirstLastButtons]="showFirstLastButtons"
                    [pageSizeOptions]="pageSizeOptions" [pageIndex]="pageIndex" aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </div>
    </ng-container>

    <ng-container *ngIf="actionClick">
        <div class="flex-auto z-20 absolute inset-0 lg:static lg:inset-auto flex">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>