<ng-container *ngIf="checkType == 'KEHOACH'">
    <div class="title-popup flex items-center header-popups">
        <!-- <i class="fa fa-search mr-2"></i> -->
         <span>Tìm kiếm Căn cứ thực hiện (từ bản định
            hướng)</span> <svg (click)="onCloseClick()"  viewBox="0 0 24 24" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"></path></svg>
    </div>
    <div class="content-popup">
        <div class="box-search flex items-center">
            <label for="">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="q"
                (ngModelChange)="timkiemKehoach()"
                placeholder="Nhập từ khóa cần tìm..."
                name=""
                id=""
            />
        </div>
        <div class="tableFixHead">
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Tên bản đăng ký định hướng
                        giao thực hiện
                    </th>
                    <th class="text-center">Năm</th>
                    <th class="text-center">Người giao</th>
                    <th class="text-center">Tên đề tài, nhiệm vụ</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listKehoach; let i = index">
                    <tr (click)="submit(item)" class="cursor-point">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item?.ngayTao | date:'yyyy' }}</td>
                        <td>{{ item.nguoiGui }}</td>
                        <td style="text-align: center;">{{ item.tenDeTai }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        </div>
        <div class="action-pop">
            <!-- <button class="add_button"><i class="fa fa-plus"></i>
            Tìm kiếm</button>
        <button class="add_button selectbtn"><i class="fa fa-plus"></i>
            Chọn</button> -->
            <button (click)="onCloseClick()" class="add_button">
                <i class="fa fa-times"></i> Hủy
            </button>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="checkType == 'CHUNHIEM'">
    <div class="title-popup"><i class="fa fa-search"></i> Tìm kiếm chủ nhiệm</div>
    <div class="content-popup">
        <div class="box-search flex items-center">
            <label for="">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="q"
                (ngModelChange)="timkiemNguoi(checkType)"
                placeholder="Nhập từ khóa cần tìm..."
                name=""
                id=""
            />
            <label style="margin: 0px 10px;" for="">Đơn vị</label>
            <ng-select class="form-control" [items]="listDonVi" bindLabel="NAME" bindValue="ID"
                placeholder="Chọn đơn vị" [(ngModel)]="maDonVi" (change)="timkiemNguoi(checkType)">
            </ng-select> 
        </div>
        <div class="tableFixHead">
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Họ và tên</th>
                    <th class="text-center">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listChuNhiem; let i = index">
                    <tr (click)="submit(item)" class="cursor-point">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.orgName }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        </div>
        <div class="action-pop">
            <!-- <button class="add_button"><i class="fa fa-plus"></i>
                Tìm kiếm</button>
            <button class="add_button selectbtn"><i class="fa fa-plus"></i>
                Chọn</button> -->
            <button (click)="onCloseClick()" class="add_button">
                <i class="fa fa-times"></i> Hủy
            </button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="checkType == 'DONGCHUNHIEM'">
    <div class="title-popup">
        <i class="fa fa-search"></i> Tìm kiếm đồng chủ nhiệm
    </div>
    <div class="content-popup">
        <div class="box-search flex items-center">
            <label for="">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="q"
                (keyup)="timkiemNguoi(checkType)"
                placeholder="Nhập từ khóa cần tìm..."
                name=""
                id=""
            />
            <label style="margin: 0px 10px;" for="">Đơn vị</label>
            <ng-select class="form-control" [items]="listDonVi" bindLabel="NAME" bindValue="ID"
                placeholder="Chọn đơn vị" [(ngModel)]="maDonVi" (change)="timkiemNguoi(checkType)">
            </ng-select> 
        </div>
        <div class="tableFixHead">
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Họ và tên</th>
                    <th class="text-center">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <ng-container
                    *ngFor="let item of listDongChuNhiem; let i = index"
                >
                    <tr (click)="submit(item)" class="cursor-point">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.orgName }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
</div>
        <div class="action-pop">
            <!-- <button class="add_button"><i class="fa fa-plus"></i>
                    Tìm kiếm</button>
                <button class="add_button selectbtn"><i class="fa fa-plus"></i>
                    Chọn</button> -->
            <button (click)="onCloseClick()" class="add_button">
                <i class="fa fa-times"></i> Hủy
            </button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="checkType == 'THUKY'">
    <div class="title-popup">
        <i class="fa fa-search"></i> Tìm kiếm thư ký
    </div>
    <div class="content-popup">
        <div class="box-search flex items-center">
            <label for="">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="q"
                (keyup)="timkiemNguoi(checkType)"
                placeholder="Nhập từ khóa cần tìm..."
                name=""
                id=""
            />
            <label style="margin: 0px 10px;" for="">Đơn vị</label>
            <ng-select class="form-control" [items]="listDonVi" bindLabel="NAME" bindValue="ID"
                placeholder="Chọn đơn vị" [(ngModel)]="maDonVi" (change)="timkiemNguoi(checkType)">
            </ng-select> 
        </div>
        <div class="tableFixHead">
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Họ và tên</th>
                    <th class="text-center">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listThuKy; let i = index">
                    <tr (click)="submit(item)" class="cursor-point">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.orgName }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
</div>
        <div class="action-pop">
            <!-- <button class="add_button"><i class="fa fa-plus"></i>
                        Tìm kiếm</button>
                    <button class="add_button selectbtn"><i class="fa fa-plus"></i>
                        Chọn</button> -->
            <button (click)="onCloseClick()" class="add_button">
                <i class="fa fa-times"></i> Hủy
            </button>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="checkType == 'THANHVIEN'">
    <div class="title-popup"><i class="fa fa-search"></i> Tìm kiếm</div>
    <div class="content-popup">
        <div class="box-search flex items-center">
            <label for="">Tìm kiếm</label>
            <input
                type="text"
                class="form-control"
                [(ngModel)]="q"
                (keyup)="timkiemNguoi(checkType)"
                placeholder="Nhập từ khóa cần tìm..."
                name=""
                id=""
            />
            <label style="margin: 0px 10px;" for="">Đơn vị</label>
            <ng-select class="form-control" [items]="listDonVi" bindLabel="NAME" bindValue="ID"
                placeholder="Chọn đơn vị" [(ngModel)]="maDonVi" (change)="timkiemNguoi(checkType)">
            </ng-select> 
        </div>
        <div class="tableFixHead">
        <table class="table table_custom">
            <thead>
                <tr>
                    <th class="stt_table">STT</th>
                    <th>Họ và tên</th>
                    <th class="text-center">Đơn vị</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of listThanhVien; let i = index">
                    <tr (click)="submit(item)" class="cursor-point">
                        <td class="stt_table">{{ i + 1 }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.orgName }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
</div>
        <div class="action-pop">
            <!-- <button class="add_button"><i class="fa fa-plus"></i>
                    Tìm kiếm</button>
                <button class="add_button selectbtn"><i class="fa fa-plus"></i>
                    Chọn</button> -->
            <button (click)="onCloseClick()" class="add_button">
                <i class="fa fa-times"></i> Hủy
            </button>
        </div>
    </div>
</ng-container>
